{#
/**
 * @file
 * Theme override for a 'webform' element.
 *
 * @see web/modules/contrib/webform/templates/webform.html.twig
 */
#}
{%- include '@molecules/blocks/hero/hero.twig' with {
  hero: {
    title: content|render|striptags|trim,
    height_variant: "minimum-height",
    title_variant: "sr-only",
    background_variant: "has-background-color--dark",
  }
} only -%}
<div class="jcc-wayfinder-section">
  <div class="jcc-wayfinder-section__container">
    <form{{ attributes.addClass('usa-form', 'jcc-form') }}>
      {{ title_prefix }}
      {{ children }}
      {{ title_suffix }}
    </form>
  </div>
</div>
