{{ attach_library('atrium/calculator') }}
{% if content %}
  {%- include '@molecules/blocks/hero/hero.twig' with {
    hero: {
      title: content|render|striptags|trim,
      height_variant: "minimum-height",
      title_variant: "sr-only",
      background_variant: "has-background-color--dark",
    }
  } only -%}
{% endif %}

<!--FOR USE ON SMALL CLAIMS AND CIVIL CASES-->
<div class="jcc-calc jcc-locate-section--has-background-color--light">
  <div class="jcc-wayfinder-section__container">
    <form {{ attributes.addClass('usa-form', 'jcc-form') }}>
      <div class="judgement-calculator">
        <h2>Judgment Calculator</h2>

        <!-- Judgment Information Panel -->
        <div class="form-panel">
          <h3 class="form-panel__title">Judgment Information (Required)</h3>
          <div class="form-panel__content">
            <div class="result-row" id ="judgement-Information">
              <div>
                <label class="usa-label">Judgment Amount:</label>
                <input class="usa-input calculator-input" type="number" autofocus="autofocus" id="judgmentAmount" tabindex= "0 "placeholder="Enter amount" />
              </div>
              <div>
                <label class="usa-label">Interest Rate (%):</label>
                <select class="usa-select" id="interestRate" placeholder="Enter rate">                
                  <option value="5">5%</option>
                  <option value="10">10%</option>
                </select>
              </div>
              <div>
                <label class="usa-label">Judgment Date:</label>
                <input class="usa-input calculator-input" type="date" data-type="date" id="judgmentDate" />
              </div>

              <div>
                <label class="usa-label">End Date:</label>
                <input class="usa-input calculator-input" type="date" data-type="date" id="endDate" />
              </div>
            </div>
          </div>
        </div>

        <!-- Payment and Cost Panel -->
        <div class="form-panel" id="payment_cost">
          <div class="usa-accordion usa-accordion--full">
            <h3 class="usa-accordion__heading">
              <button
                class="usa-accordion__button"
                aria-expanded="false"
                data-toggle="accordion"
                aria-controls="accordion-item-1-1427946858"
              >
                <span class="icon">►</span> Payment and Cost (Optional)
              </button>
            </h3>
            <div class="result-row payment-row" id ="payment-and-cost">
              <div>
                <label class="usa-label">Date:</label>
                <input class="usa-input calculator-input" type="date" data-type="date" id="paymentDate" />


              </div>
              <div>
                <label class="usa-label">Payment Amount:</label>
                <input class="usa-input calculator-input" type="number" id="paymentAmount" placeholder="Enter payment" />
              </div>
              <div>
                <label class="usa-label">Cost:</label>
                <input class="usa-input calculator-input" type="number" id="cost" placeholder="Enter cost" />
              </div>
              <div>
                <button class="usa-button add-button" type = "button" id="addPaymentButton" data-toggle="processPayment">Add</button>
              </div>
            </div>
            <div
              class="usa-accordion__content usa-prose"
              id="accordion-item-1-1427946858"
              aria-hidden="true"
            >
              <div class="form-panel__content">
                <table class="usa-table" id="paymentTable">
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <!-- Action Buttons -->
        <div class="form-actions calc" id ="calculator-form-actions">
          <button class="usa-button" type="button" id= "calculateButton" data-toggle="processPayment">Calculate</button>
          <button class="usa-button" type="button"  data-toggle="reset">Start Over</button>
          <button class="usa-button" type="button" data-toggle="printResults">Print</button>
          <button class="usa-button" type="button"  onclick="exit()">Exit</button>
        </div>

        <!-- Results Panel -->
        <div class="form-panel results " id ="resultBox">
          <h3 class="form-panel__title">Results</h3>
          <div class="form-panel__content result-container" >
            <div class="result-column">
              <div class="result-item">
                <label class="usa-label" for="resultJudgmentAmount">Judgment Amount:</label>
                <label class="usa-label" type="text" id="resultJudgmentAmount"></label>
              </div>
              <div class="result-item">
                <label class="usa-label" for="principalReduction">Principal Reduction:</label>
                <label class="usa-label" type="text" id="principalReduction"></label>
              </div>
              <div class="result-item">
                <label class="usa-label" for="principalBalance">Principal Balance:</label>
                <label class="usa-label" type="text" id="principalBalance"> </label>
              </div>
              <div class="result-item">
                <label class="usa-label" for="costsAfterJudgment">Costs After Judgment:</label>
                <label class="usa-label " type="text" id="costsAfterJudgment"></label>
              </div>
            </div>
            <div class="result-column">
              <div class="result-item">
                <label class="usa-label">Daily Interest:</label>
                <label class="usa-label" type="text" id="dailyInterest"></label>
              </div>
              <div class="result-item">
                <label class="usa-label">Interest Accrued:</label>
                <label class="usa-label" type="text" id="interestAccrued" ></label>
              </div>
              <div class="result-item">
                <label class="usa-label">Interest to Date:</label>
                <label  class="usa-label" type="text" id="interestToDate"></label>
              </div>
              <div class="result-item">
                <label class="usa-label">Total Interest:</label>
                <label  class="usa-label" type="text" id="totalInterest"></label>
              </div>
            </div>
            <div class="result-column">
              <div class="result-item">
                <label class="usa-label">	Days:</label>
                <label  class="usa-label" type="text" id="days"></label>
              </div>
              <div class="result-item grand-total-result-item">
                <label class="usa-label">Grand Total:</label>
                <label class="usa-label" type="text" id="grandTotal"></label>
              </div>
            </div>
          </div>
        </div>
        <!--end of result-->
      </div>
    </form>
  </div>
</div>