{#
/**
 * @file
 * Template override for fields.
 */
#}
<div class="jcc_field_actions">
  {%- for item in items -%}
    <span class="usa-tag jcc-tag">
      {{ item.content }}
    </span>
  {%- endfor -%}
</div>

