.jcc-hero--has-background-color--dark{
  a.usa-button{
    color: color($theme-color-base-darkest);
    background-color: color($theme-color-warning);
    &:hover {
      background-color: color($theme-color-warning-dark);
    }
  }
}
