.jcc-form--link {
  @include u-padding-x(2);
  @include u-padding-y(1);
  border: 1px solid;
  display: inline-block;

  > * {
    display: inline-block;
    vertical-align: middle;
  }

  a {
    text-decoration: none;
  }
}

.jcc-form--languages {
  @include u-padding-top(4);

  label {
    @include u-padding-right(2);
  }

  span {
    @include u-padding-x(2);
    display: inline-block;
  }
}

.jcc-form--thumbnail {
  img {
    display: block;
    margin: 0 auto;
  }
}
