article.jcc-form--hero-full-height {
  .jcc-hero {
    /* These variables should live somewhere else. */
    $global-header-height: 84px;
    $global-footer-height: 60px;
    min-height: calc(100vh - #{$global-header-height} - #{$global-footer-height});
  }
}

a.jcc-form--link {
  @include u-margin-top(2);
  @include u-margin-right(2);
  @include u-padding-x(2);
  @include u-padding-y(1);
  border: 1px solid;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100%;

  @include at-media(desktop) {
    width: auto;
  }

  > * {
    display: inline-block;
  }

  svg {
    vertical-align: text-top;
    @include u-margin-right('05');
  }
}

.jcc-form--languages {
  display: flex;
  flex-wrap: wrap;
  @include u-padding-top(4);
  @include u-padding-left(2);

  li {
    width: 380px;
    white-space: nowrap;
  }
}

.jcc-form--thumbnail {
  display: none;
  
  @include at-media(desktop) {
    display: block;
  }
  
  img {
    @include u-shadow(1);
    max-height: 400px;
    display: block;
    margin: 0 auto;
  }
}
