.region--drawer {
  // @include u-position(absolute);
  display: flex;
  justify-content: flex-end;
  height: 0;
  margin-bottom: 20px;
  margin-right: 20px;
  bottom: -40px;
  right: 0;
  z-index: 10000;

  @include at-media(tablet) {
    min-width: 310px;
    right: 20px;
    width: auto;
  }

  @include at-media(desktop) {
    bottom: 20px;
  }

  &[fixed] {
    @include u-position(fixed);
    margin-bottom: 0;
    margin-right: 0;
    bottom: 0;

    @include at-media(tablet) {
      bottom: 20px;
    }
  }

  &__inner {
    display: flex;
    align-items: flex-end;

    > * + * {
      margin-left: units(1.5);
    }
  }
}
