html,
body {
  height: 100%;
}

.dialog-off-canvas-main-canvas {
  height: 100%;
}

// These flex styles keep the footer at the bottom,
// even if the main content is too short.
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.jcc-header-base {
  .jcc-nav-secondary__menu {
    @include at-media(desktop) {
      display: none;
    }
  }
}

/* Override Drupal's form height handling for global search */
.jcc-nav-secondary__group .jcc-form.usa-form {
  height: auto;
}

.path-search main {
  .usa-form.jcc-form {
    padding-bottom: 20px;
  }
  .featured_view .jcc-tiles-section {
    padding-top: 0;
    .jcc-tile a {
      text-decoration: none;
    }
  }
  .facets-widget-checkbox {
    padding-bottom: 20px;
    ul.js-facets-widget{
      padding-left: 0;
      li {
        list-style:none;
        input.facets-checkbox{
          margin-right: 5px;
        }
      }
    }
  }
  .view__content .views-row {
    &:nth-child(odd) {
      background: #eff6fb;
    }
    .jcc-header-group__title {
      text-decoration: none;
    }
  }
  .usa-form .usa-button{
    margin-top: 0.5rem;
  }
  .js-form-item-search-api-fulltext{
    max-width: 60%;
  }
}

.node--unpublished {
  background-color: transparent;
}

.appeal-message {
  background: #2378C3;
  height: 50px;
}

.appeal-message-border{
  border-bottom: 4px solid #e5a000;
}

.appeal-message__title {
  max-width: 87.5rem;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 18px;
  font-weight: 500;
  line-height: 45px;
}
@media (max-width: 63.99em) {
  .appeal-message__title{
    margin-left: 1rem;
  }
}

@media print {
  .jcc-feedback.block,
  .block.jcc-chat,
  .jcc-share__container,
  .usa-footer__contact-links,
  .jcc-nav-secondary__group,
  .jcc-global-bar{
    display: none !important;
  }
  .jcc-hero__content{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    .jcc-hero__columns {
      display: block;
      .jcc-hero__column-left,
      .jcc-hero__column-right {
        height: auto;
      }
    }
  }
  .usa-accordion {
    .usa-accordion__content {
      display: block !important;
    }
  }
  .jcc-hero--has-background-color--dark,
  .jcc-hero--has-background-image,
  .jcc-hero--has-background-color--dark .jcc-hero__title,
  .jcc-hero--has-background-image .jcc-hero__title,
  .jcc-primary-nav .usa-nav__primary-item .usa-nav__link[aria-expanded=true] span,
  a{
    color: #000000 !important;
  }

  body .usa-logo__graphic--desktop,
  body .usa-logo__graphic--mobile{
    img{
      content:url("/themes/custom/atrium/images/logo/jcc-logo--selfhelp.png") !important;
    }
  }
  p, h1, h1, h3, h4, h5, li, span {
    break-inside: avoid;
  }
}

