html,
body {
  height: 100%;
}

.dialog-off-canvas-main-canvas {
  height: 100%;
}

// These flex styles keep the footer at the bottom,
// even if the main content is too short.
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

.jcc-header-base {
  .path-frontpage & {
    display: none;
  }

  .jcc-nav-secondary__menu {
    @include at-media(desktop) {
      display: none;
    }
  }
}

.path-search main {
  .usa-form.jcc-form {
    padding-bottom: 20px;
  }
  .featured_view .jcc-tiles-section {
    padding-top: 0;
    .jcc-tile a {
      text-decoration: none;
    }
  }
  .facets-widget-checkbox {
    padding-bottom: 20px;
    ul.js-facets-widget{
      padding-left: 0;
      li {
        list-style:none;
        input.facets-checkbox{
          margin-right: 5px;
        }
      }
    }
  }
  .view__content .views-row {
    &:nth-child(odd) {
      background: #eff6fb;
    }
    .jcc-header-group__title {
      text-decoration: none;
    }
  }
  .usa-form .usa-button{
    margin-top: 0.5rem;
  }
  .js-form-item-search-api-fulltext{
    max-width: 60%;
  }
}
