{#
/**
 * @file
 * Template for "Self help finder" Paragraph.
 */
#}
{% extends 'paragraph.html.twig' %}
{% block paragraph %}

  {# This paragraph's parent (either a node or another paragraph) #}
  {% set parent = paragraph._referringItem.parent.parent.entity %}

  {# Attach JS for GA/GTM tracking of the selected jump-nav item on click. #}
  {{ attach_library('srl_ga_gtm/locate-section-click-track') }}

  {% if paragraph.field_self_help_finder_type.0.value == 'basic' %}
    {# Homepage search #}
    {% include '@organisms/sections/locate-section/locate-section.twig' with {
      locate_section: {
        background_variant: 'has-background-color--light',
        headergroup: {
          title: 'Self-Help Locations'|t,
          lead: 'Self-Help Centers can provide legal information and resources to people without a lawyer.'|t
        },
        search_group: {
          label: 'Enter city, county, or zip code'|t,
          button: {
            text: 'Search'|t,
            style: 'primary',
          },
          url: '/self-help/find-self-help',
          attribute: 's',
        },
        footer: 'Assistance may be in the form of walk in services, workshops, referrals and/or telephonic assistance.'|t,
        image: {
          src: '/libraries/courtyard-artifact/1.x/public/images/graphics/locate-section.png',
          alt: 'California map'|t,
        }
      }
    } only %}

  {% elseif paragraph.field_self_help_finder_type.0.value == 'enhanced' %}
    {# In-step real-time search #}
    {% if parent.nid %}
      {# This paragraph's parent is a node, so it needs a wrapper #}
      <div class="jcc-text-section">
        <div class="jcc-text-section__container">
          {{ drupal_view('find_courts', 'self_help_block') }}
        </div>
      </div>
    {% else %}
      {{ drupal_view('find_courts', 'self_help_block') }}
    {% endif %}

  {% endif %}

{% endblock %}
