{% set courts = rows.0['#rows'].0['#view'].result %}

{% block content %}
  {% set links = [] %}
  {% for court in courts %}
    {% set item = court._entity %}
    {% if item.field_link.0.url %}
      {% set links = links|merge([{
        name: item.title.value,
        url: item.field_link.0.url|render,
      }]) %}
    {% endif %}
  {% endfor %}

  <div class="jcc-choice-section__container">
    <header class="jcc-header-group">
      <h3>{{ view.title|t }}</h3>
    </header>

    {% include '@molecules/navigation/jump-menu/jump-menu.twig' with {
      jump_menu: {
        id: 'traffic-concerns-by-county',
        label: card.menu_label,
        items: links,
        default_option: 'Choose the county where it happened'|t
      }
    } %}

    <p>{{ 'Don’t know which county? Try to '|t }} <a href="https://www.courts.ca.gov/find-my-court.htm">{{ 'find your court'|t }}</a> {{ 'by city or zip code'|t }}.</p>
  </div>
{% endblock %}
