{#
/**
 * @file
 * Template for "Hero Navigation" view.
 */
#}
{% extends 'views-view.html.twig' %}
{% block content %}
  {% if rows %}
    <div class="view__content">
      {% if rows %}
        {% set nav = [] %}

        {% for key, item in rows.0['#rows'] %}
          {% set nav = nav|merge([{
            name: item["#row"]._entity.field_title_display|view,
            url: '#p' ~ item['#row'].id
          }]) %}
        {% endfor %}

        {% include '@molecules/navigation/jump-nav/jump-nav.twig' with {
          title: drupal_field('field_hero_nav_title', 'node', arguments.parent_id),
          tag: 'h2',
          jump_nav: nav,
        } %}
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
