{#
/**
 * @file
 * Template for "JCC Form" media type using "Full content" display mode.
 */
#}
{{ title_suffix.contextual_links }}
<div>
  {% set label = "#{media.name.value} (form #{media.field_number.value})" %}

  {% if media.field_url.uri %}
    {{ link(label, media.field_url.uri) }}
  {% else %}
    {{ label }}
  {% endif %}
</div>
