{#
/**
 * @file
 * Theme override to display a Case Summary node.
 *
 * See node.html.twig and page.html.twig.
 */
#}

{# Check for specific tag #}
{% set has_specific_tag = false %}
{% for item in node.field_case_types %}
  {% if item.entity.fields.name.value|trim|lower == 'appeals' %}
    {% set has_specific_tag = true %}
  {% endif %}
{% endfor %}

{# Display message if the specific tag is found #}
{% if has_specific_tag %}
  <div class="appeal-message">
    <div class="usa-nav-container appeal-message__title">California Courts of Appeal</div>
  </div>
{% endif %}

{# BEGIN In case the title is not set through Switchboard paragraph #}
{% set title_exists = content.field_paragraphs.0['#paragraph'].field_use_component_as_hero.value %}
{% if not title_exists %}
  <h1 class="visually-hidden">{{ label }}</h1>
{% endif %}
{# END #}

{{ content.field_paragraphs }}
