{% extends 'node.html.twig' %}
{% block content %}

  {% set has_specific_tag = false %}
  {% for item in node.field_case_types %}
    {% if item.entity.fields.name.value|trim|lower == 'appeals' %}
      {% set has_specific_tag = true %}
    {% endif %}
  {% endfor %}

  {% if has_specific_tag %}
    <div class="appeal-message">
      <div class="usa-nav-container appeal-message__title">California Courts of Appeals</div>
    </div>
  {% endif %}

  {% if node.field_parent.value is not empty %}
    {% set breadcrumbs =  [
      {
        url: path('entity.node.canonical', { 'node': node.field_parent.entity.id }),
        label: node.field_parent.entity.label,
      }
    ] %}
  {% endif %}
  {% set jump_nav %}
    <div class="jcc-share__container">
      {% include '@organisms/sections/share/share.twig' with {
        share: {
          email_modal: drupal_entity('webform', 'share_this_page'),
          text_modal: drupal_entity('webform', 'mark_my_place_text_message'),
          email: 'EMAIL'|t,
          text: 'TEXT'|t,
          print: 'PRINT'|t,
        }
      } only %}
    </div>
    {% include '@molecules/navigation/jump-nav/jump-nav.twig' with {
      jump_nav: {
        title: content.field_hero_nav_title|render ? content.field_hero_nav_title : ''
      }
    } %}
  {% endset %}

  {% include '@molecules/blocks/hero/hero.twig' with {
    hero: {
      breadcrumbs: {
        show_back_button: true,
        back_button: {
          text: previous_label
        }
      },
      brow: node.field_brow.0.value,
      title: label,
      body: content.field_description|render ? content.field_description : '',
      column_content_right: jump_nav,
      case_type: case_index
    }
  } %}

  {{ content|without(
    'field_case_type',
    'field_description',
    'field_hero_nav_title',
    'field_brow'
  )}}
{% endblock %}
