{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}

{# We send feedback the rendered form which uses its own template. #}
{% include '@organisms/sections/drawer/drawer.twig' with {
  drawer: {
    feedback: elements.webform,
  }
} %}

{% if case_type %}
  <div class="jcc-banner--chatbot">
    {% set heading = 'Have a question about' |t %}
    {% include '@molecules/blocks/alert/alert.twig' with {
      alert: {
        type: 'success',
        icon: true,
        heading: heading ~ ' ' ~ case_type ~ '?'|t,
        text: 'Look for a \"Chat Now\" button in the right bottom corner of your screen. If you don’t see it, disable any pop-up/ad blockers on your browser.'|t,
        close: true
      }
    } %}
  </div>

  {{ attach_library('atrium/chatbot-banner') }}
{% endif %}
